* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

:root {
  --first-cor: #FB6B6B;
  --second-cor: #FFFFD4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-cor)
}

span {
  backface-visibility: hidden;
  will-change: transform;
}