.questions {
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

.header-question {
  width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-question-logo {
  width: 52px;
}

.header-question-title {
  color: #fff;
  font-size: 36px;
  
}

.question-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position:fixed;
  left: 0;
  bottom: 0;
  padding: 6px 0 10px 0;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons {
  display: flex;
}

.parabens {
  padding: 10px;
  font-size: 18px;
}

.message {
  width: 220px;
  text-align: center;
}

.puts {
  font-family: 'Righteous', cursive;
}

.reset-cards {
  width: 167px;
  height: 32px;
  color: #fff;
  margin-top: 15px;
  background-color: #FB6B6B;
  border: none;
  cursor: pointer;
}